/* ESTILO Y'SHAARJ */
*{ 
    margin: 0;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* BODY*/
body{
    background-color:#52364c;
}


/* HEADER */
header{
display:flex;
justify-content: space-between;
}
header p{
    font-size: 25px;
    margin: 30px;
    color:rgb(255, 255, 255);

}
header a {
    display: inline-block;
    color: rgb(0, 150, 92);
    margin-top:40px;
    margin-right: 30px;
text-decoration: none;
}

header a:hover{
    color: blue
}

/* Banner */
.banner{
    background-color: #340049;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner img{
    width: 600px;
    height: 400px;
    border: solid 5px #3a3a3a;
}

.banner div{
    width: 500px;
    margin-right: 50px;
}

.Text h1{
    font-size: 52px;
    border-radius: 15%;
    color: rgb(0, 150, 92);
    text-align: center;
    width: 1325px;
} 

.banner a{
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    background-color: #340049;
    color: #ffffff;
    text-decoration: none;
}

.banner h1{
    font-size: 50px;
    color:rgb(0, 150, 92);
}

/* Sobre */
.sobre{
    margin: center;
    margin-bottom: -5%;
    color:rgb(0, 150, 92);
    background-color: 32, 21, 31;
    }
    
    .sobre h1{
        font-size: 50px;
        color:rgb(0, 150, 92);
    }
    
    .sobre p{
    text-align: justify;
    margin-top:30px;
    font-size: 18px;
    line-height: 40px;
    margin-right: 10px;
    }

.sobre img{
    width: 60%;
}


/* Quartos */
.cartas{
    margin-top: 80px;
    background-color: rgb(32, 21, 31);
}

.cartas h1{
    font-size: 40px;
    margin-top: 30px;
    color: 170, 95, 199;
    border: solid 5px 170, 95, 199;
    width: 1350px;
    text-align: center;
    border-radius: 15%;
    color:rgb(0, 150, 92);
}

/* Rodapé */

footer{
    display: flex;
    justify-content: space-between;
    color: rgb(0, 150, 92);
    padding: 30px;
}

footer i {
    margin-left: 20px;
}